{% extends "base.twig" %}
{% block navigation %}
    <div class="header" style="min-height: 60px;">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Index</a></li>
            <li><a href="{{ path('user') }}">Account</a></li>
        </ul>
    </div>
{% endblock navigation %}
{% block content %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        {% for application in applications %}
          <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ path('queries', {application_id: application.id}) }}">{{ application.name }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}