{% extends "base.twig" %}
{% block custom_head %}
<style type="text/css">
body {
  background: #e9e9e9 url(../img/tiny_grid.png) repeat 0 0;
  color:#838383;
  font: 13px/1.7em 'Open Sans';
}

.account-container {
	width: 390px; 
	display: block;
	margin: 60px auto 0 auto;
	
	background: #f9f9f9;
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


}

.login-action {float: right; margin-top: 18px;}

.content {
	padding: 16px 28px 23px;
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 50px;
	background-color: #fdfdfd;
	width: 100%;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
	height: 40px;
}

.username-field { background: url(../../img/user.png) no-repeat; }

.password-field { background: url(../../img/password.png) no-repeat; }

.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-social {
	float: left;
	padding: 10px 0 15px;	
	border: 1px dotted #CCC;
	border-right: none;
	border-left: none;	
}

span.login-checkbox {
	float: left;
	margin-top: 31px;
}

span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
    
	height: 15px; 
	display: block;
    padding: 0 0 0 22px;
    margin: 0;
    
    font-size: 12px;
    line-height: 1.2em;
    
    background: url(../img/check.png) no-repeat 0 0;
    
    cursor: pointer;
}

span.login-checkbox > input[type='checkbox']:checked + label {	
	background-position: 0 -15px;
}

.login-extra { width: 300px; margin: 1.5em auto; text-align: center; }
h1 { margin-bottom: .4em; color: #00ADFF; font-size: 32px; }

/** Buttons **/
.twitter, .fb {
	position: relative;
	
	height: 32px; 
	width: 157px; 
	
	background: url(../../img/twitter_btn.png) no-repeat;
	display: inline-block;
	
}

.fb { width: 162px; background: url(../../img/fb_btn.png) no-repeat;}

.twitter:hover, .fb:hover {
	background-position: 0 -32px;
}

.twitter a, .fb a {
	padding: 5px 0 0 35px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 11px; 
	height: 32px; 
	display: block;	
}

.register .login-social {
	margin-bottom: 1em;
}

.register .login-fields input, .register select {
	width: 299px;
	padding-left: 6px;
}


.register span.login-checkbox {
	position: relative;
	top: -6px;
	
	width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	
	position: relative;
	
	line-height: 1.3em;
}
</style>
{% endblock %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
	<div class="account-container register stacked">
		<div class="content clearfix">
			<form action="{{ path('install') }}" method="POST">
				<h1>Create Your Account</h1>

				{% if errors is defined %}
					{% for error in errors %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endfor %}
				{% endif %}
				
				<div class="login-social">
					<p>Sign in using social network:</p>
					
					<div class="twitter">
						<a href="#" class="btn_1">Login with Twitter</a>				
					</div>
					
					<div class="fb">
						<a href="#" class="btn_2">Login with Facebook</a>				
					</div>
				</div>
				
				<div class="login-fields">
					
					<p>Create your free account:</p>
					
					<div class="field">
						<label for="email">Email Address:</label>
						<input type="text" id="email" name="email" value="" placeholder="Email" class="form-control"/>
					</div> <!-- /field -->
					
					<div class="field">
						<label for="password">Password:</label>
						<input type="password" id="password" name="password" value="" placeholder="Password" class="form-control"/>
					</div> <!-- /field -->

					<p>Database connection details</p>

					<div class="field">
						<label for="db_type">Database Type:</label>
						<select id="db_type" name="db_type" class="form-control">
							<option>MySQL</option>
							<option>SQLite</option>
						</select>
					</div> <!-- /field -->

					<div class="field">
						<label for="db_name">Database Name:</label>	
						<input type="text" id="db_name" name="db_name" value="" placeholder="Database Name" class="form-control" />
					</div> <!-- /field -->

					<div class="field">
						<label for="db_user">Username:</label>
						<input type="text" id="db_user" name="db_user" value="" placeholder="Database Username" class="form-control" />
					</div> <!-- /field -->
					
					<div class="field">
						<label for="db_password">Password:</label>	
						<input type="password" id="db_password" name="db_password" value="" placeholder="Database Password" class="form-control" />
					</div> <!-- /field -->

				</div> <!-- /login-fields -->
				
				<div class="login-actions">
					
					<span class="login-checkbox">
						<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
						<label class="choice" for="Field">I have read and agree with the Terms of Use.</label>
					</span>
										
					<button class="login-action btn btn-primary">Register</button>
					
				</div> <!-- .actions -->
				
			</form>
		</div> <!-- /content -->
	</div> <!-- /account-container -->

	<!-- Text Under Box -->
	<div class="login-extra">
		Already have an account? <a href="{{ path('login') }}">Login</a>
	</div> <!-- /login-extra -->
{% endblock %}