{% extends "base.twig" %}
{% block navigation %}
  <div class="header" style="min-height: 60px;">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Index</a></li>
        <li class="active"><a href="{{ path('user') }}">Account</a></li>
    </ul>
  </div>
{% endblock navigation %}
{% block content %}
	{% if errors is defined %}
		{% for error in errors %}
			<div class="alert alert-danger">{{ error }}</div>
		{% endfor %}
	{% endif %}
    <form action="{{ path('new_application') }}" method="POST">
		<div class="form-group">
			<label for="query">Name</label>
			<input class="form-control" type="text" id="name" name="name" required placeholder="Name of your application" {% if application is defined %}value="{{ application.name }}"{% endif %}/>
		</div>
		<button type="submit" class="btn btn-default">Save</button>
	</form>
{% endblock %}